.active_Template_content {
  position: relative;
  width: 375px;
  height: 100%;
  margin: auto;
  padding: 20px 0;
  .previewer_component {
    position: relative;
    display: flex;
    width: 375px;
    min-height: 757px;
    margin: auto;
    background-color: #eeeeee;
  }
  .previewer_wrap {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 375px;
    min-height: 100%;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    & > iframe {
      width: 100%;
      min-height: 100%;
      border: none;
    }
  }
}

.previewer_active_warp {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 100%;
  pointer-events: none;
  .previewer_active_mask {
    position: absolute;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #3089dc;
  }
}
