.editor {
  min-width: 550px;
  max-width: 800px;
  // margin: 0 auto;
  .content {
    z-index: 1 !important;
    height: 650px;
    overflow-y: auto;
    // max-height: 580px;
    // min-height: 500px;
    .w-e-text {
      overflow-y: auto !important;
    }
  }
  .maxlength_box_red {
    border: 1px solid red;
  }
  .maxlength_red {
    color: red;
  }
}
