.editor {
  min-width: 550px;
  max-width: 800px;
  // margin: 0 auto;
  .content {
    z-index: 1 !important;
    height: 650px;
    overflow-y: auto;
    // max-height: 580px;
    // min-height: 500px;
    .w-e-text-container {
      background-color: #7d7d7d;
    }
    .w-e-text {
      max-width: 788px !important;
      margin: 0 auto;
      background-color: white;
    }
  }
  .maxlength_box_red {
    border: 1px solid red;
  }
  .maxlength_red {
    color: red;
  }
}
