@import '~antd/es/style/themes/default.less';

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  .tit_c {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  .content {
    width: 100%;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding-left: 20px;
    .c_tit {
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .num {
      color: orange;
    }
  }
}
