.park_box {
  display: flex;
  & > div {
    width: 230px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
  }
  div + div {
    margin-left: 20px;
  }
}
