.formSearch {
  width: 100%;
  :global {
    .ant-form-item {
      display: flex;
      margin-right: 0;
      margin-bottom: 10px;
      > .ant-form-item-label {
        width: auto;
        padding-right: 8px;
        line-height: 32px;
      }
      .ant-form-item-control {
        overflow: hidden;
        line-height: 32px;
      }
    }
    .ant-form-item-control-wrapper {
      flex: 1;
    }
    .ant-select-selection-item {
      width: 100px;
    }
  }
}

.formSelect {
  :global {
    .ant-select-item-option-content {
      white-space: pre-line;
    }
  }
}
