.active_template_editor_group {
  .active_title {
    position: relative;
    margin-bottom: 8px;
    font-size: 15px;
  }
  .active_title_msg {
    margin-bottom: 15px;
    color: rgb(153, 153, 153) !important;
    font-size: 12px;
  }
}
