.descriptions_item {
  max-width: 500px;
  :global(.ant-image) {
    overflow: hidden;
    margin: 8px 8px 0px 0;
    border-radius: 3px;
  }
  .descript_img {
    height: auto !important;
    min-height: 100%;
  }
}
