.descriptions_box {
  .descriptions_item {
    :global(.ant-image) {
      overflow: hidden;
      margin: 8px 8px 0px 0;
      border-radius: 3px;
    }

    .descript_img {
      height: auto !important;
      min-height: 100%;
    }
  }
  :global {
    .ant-descriptions-item-label {
      width: 200px;
    }
    .ant-descriptions-header {
      margin-bottom: 10px;
    }
    .ant-descriptions-item-content {
      max-width: 500px;
      white-space: pre-line;
    }
  }
  & + .descriptions_box {
    margin-top: 10px;
  }
}
